<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html" />
		<link rel="stylesheet" href="/css/basic.css" />
		<title>{{item.name.split('.')[0]}}</title>
	</head>
	<body>
		<hr />
		<p>This is {{item.name}}</p>
		<hr />
	</body>
</html>
